.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-6,
.col-md-6,
.col-sm-6 {
    position: relative;
    width: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
}

.gridItem {
    background-color: #eae2a7;
    padding: 10px;
}

.textInput {
    display:flex;
    justify-content: center;
}