.outerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 3rem;
    min-height: var(--nav-height);
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: var(--nav-bg-color);
    border-bottom: var(--border-width) solid var(--border-color);

}

.nav_menu_box {


}