.outerContainer{
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    padding: 30px 50px;
    display: flex;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    padding-right: 3rem;
    min-height: var(--nav-height);
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: var(--nav-bg-color);
    border-bottom: var(--border-width) solid var(--border-color);

}

.navMenuBox{
    display: flex;
    padding: var(--nav-height) 20px;
    background-color: var(--light-pink);
}


